/*----Footer----*/
footer{
    background: transparent;
    background-color: rgb(255, 0, 0);
    color: #ffffff; 
    position: fixed;
    height: 85;
    width: 100%;
    font-size: 0.8em;
    font-weight: 600;
    bottom: -33px;
    box-shadow: 0 0 30px rgba(0 , 0 , 0 , .5);
    margin-top: auto;
  }

  .margin{
    margin-top: 10;
    margin-bottom: 10;
    margin-right: 10;
    margin-left: 10;
  }

  /*----Date and Time----*/
  .Date{
    padding:0;
    margin:0;
    display: flex;
    float: right;
    bottom: -33px;

    margin-top: 10;
    margin-bottom: 10;
    margin-right: 10;
    margin-left: 10;
}