* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    text-shadow: 5px 5px 8px #0000008c;
}

a{
    text-decoration: none;
    margin: 0 15px;
    color: white;

}
a:hover{
    opacity: 1;
}
a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
    margin-top: 10px;
    color: white
}


section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 100px;
}


header{
    position: absolute;
    z-index: 10;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-animation: 1s fadein 0.5s forwards;
    animation: 1s fadein 0.5s forwards;

}
@-webkit-keyframes fadein{
    100%{
        opacity: 1;
    }
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}

.hero{
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}
.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
    -webkit-animation: 15s change 2s forwards;
    animation: 15s change 1s forwards;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}

@keyframes change{
    0%{
    background-image: url(../images/index2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    }
    25%{
       background-image: url(../images/index3.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position: center;
    }
    50%{
        background-image: url(../images/index4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        
    }
    75%{
        background-image: url(../images/index5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        
    }
    100%{
        background-image: url(../images/index6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        
    }
}
.hero h1{
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: white;
}
.hero h3{
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: white;
}
.hero a.btn{
    padding: 20px 46px;
}
.hero-content-area{
    opacity: 0;
    margin-top: 100px;
    -webkit-animation: 1s slidefade 1s forwards;
            animation: 1s slidefade 1s forwards;
}
@-webkit-keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}
@keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}


.grid{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
     justify-content: center;
}

hr{
    width: 100%;
    height: 2px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}



@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}
	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}


section h3.title{
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}


.s1 .grid li{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.s1 .grid li.small{
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}

.s1 .grid li.large{
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
}

.s2{
	background-color: #f7f7f7;
}


